
.wrapper_en {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.first_content_en {
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
}


.logo_container_en img {
    width: $logo-xxl;
}

.text_container_en {
    color: $aero;
    font-size: 3rem;
    text-align: center;

    color: $white;

    p {
        font-size: $font-title-3xl;
    }
}


.nossa_link_en {
    color: $royal-blue;
    margin-top: 1rem;
}



.btn_accept_wn {
    background-color: $white;
    color: $royal-blue;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: none;
    cursor: pointer;
    
    svg {
        font-size: $font-btn-xxl;

    }
}

.description_en {
    color: $white;

}



@media (max-width: 1080px) {

    .logo_container_en img {
        width: $logo-xxl;
    }
}