/* ============= Colours ============= */
$royal-blue: #002561;
$aero: #00bfdd;
$white: #fff;

/* ============= Font and Typography ============= */

$font-title-xs: 1rem;
$font-title-s: 1.5rem;
$font-title-m: 2rem;
$font-title-l: 2.5m;
$font-title-xl: 3rem;
$font-title-xxl: 4.5rem;
$font-title-3xl: 7.5rem;

$font-btn-xxs: 1rem;
$font-btn-xs: 1.5rem;
$font-btn-s: 2rem;
$font-btn-m: 2.75rem;
$font-btn-l: 4.25rem;
$font-btn-xl: 6.5rem;
$font-btn-xxl: 8.5rem;

/* ============= Margenes ============= */
$mr-xs: 0.7rem;
$mr-s: 1rem;
$mr-m: 2rem;
$mr-x: 2.5rem;
$mr-xl: 3.2rem;
$mr-xxl: 5rem;

// padding
$pd-xs: 0.7rem;
$pd-s: 1rem;
$pd-m: 1.5rem;
$pd-l: 2rem;
$pd-xl: 3.2rem;
$pd-xxl: 4.5rem;

// Borders
$bd-s: 0.4rem;

// Border Radios
$bdr-s: 5rem;

/* ============= Image Sizes ============= */
$logo-xs: 9rem;
$logo-xxs: 12rem;
$logo-s: 13rem;
$logo-m: 16rem;
$logo-l: 23rem;
$logo-xl: 30rem;
$logo-xxl: 50rem;
