.wrapper_ab {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first_content_ab {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo_container_ab img {
  width: $logo-xxl;
}

.text_container_ab {
  color: $aero;
  text-align: center;

  p, span {
    font-size: $font-title-3xl;
  }

  span {
    color: $white;
    font-weight: bold;
  }
}


.btn_accept_ab {
  background-color: $white;
  color: $royal-blue;
  border-radius: 0.8rem;
  font-weight: 600;
  padding: $pd-s $pd-m;
  border: none;
  cursor: pointer;

  span {
    font-size: $font-btn-xl;
  }
}

.description_ab {
  color: $white;
  font-size: $font-title-3xl;
}

@media (max-width: 1080px) {
  .logo_container_ab img {
    width: 50rem;
  }

  .text_container_ab {
    font-size: 5rem;
  }

  .btn_accept_ab {
    font-size: 4rem;
    padding: 1rem 6rem;
    border-radius: 5rem;
  }

  .description_ab {
    font-size: $font-btn-l;
  }
}
