

@font-face {
    font-family: "Gotham";
    src: url("./assets/font/Gotham-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gotham Bold";
    src: url("./assets/font/Gotham-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham", sans-serif;
    list-style: none;

    font-size: 62.5%;
}

body {
    background-color: $royal-blue;
}